.about__img {
    background: url(../../assets/profile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 9px rgb(255 255 255 / 30%);
    width: 200px;
    height: 200px;

}

.about__section,
.about__container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}



.section__title {
    padding-top: 18rem;

}

.section__subtitle {
    padding-bottom: 5rem;
}

.about__description {
    text-align: center;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}

.about__download {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;


}

.Download {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 50px;
    border: 1px solid black;
    border-radius: 7px;
    background-color: rgb(67, 65, 65);
    color: #ffffff;

}

.download__text {
    color: #ffffff;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 600;
}