.social__animacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 200px;
}

.left-animation,
.right-animation {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    margin-left: 2rem;

}

.right-animacion {
    font-size: 50px;
}