.social__animacion__container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.top-animations,
.bottom-animations {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.animation-container {
    width: 100%;
    height: 150px;
}