.footer__container {

    height: 300px;
    background: black;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-left: 2rem;
    margin-right: 2rem;
}

.footer__content {
    color: wheat;
    text-align: center;
    padding-top: 4rem;
}

.footer__content__line {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    border: 1px solid wheat;



}

.footer__content__subtitle {
    font-size: 1rem;
    font-family: var(--body-font);
}